{% extends "blog/base.html" %}

{% block title %}Media{% endblock %}

{% block content %}
    {% if files %}
	<div class="callout clearfix">
		<table>
			<tr>
				<th>Title</th>
				<th>Owner</th>
				<th>Added</th>
				<th>View</th>
				<th>Delete</th>
			<tr>
		{% for object in media %}
			<tr>
				<td>{{ object.title }}</td>
				<td>{{ object.owner }}</td>
				<td>{{ object.date_add }}</td>
				<td>V</td>
				<td>X</td>
		{% endfor %}
	</div>
    {% endif %}

    {% if form %}
	<form action="{% url 'media:media_add' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
		<input type="submit" value="Add" class="hollow button"/>
	</form>
	{% endif %}

    {% if posts.paginator.num_pages > 1 %}
	<ul class="pagination text-center" role="navigation" aria-label="Pagination">
	{% if posts.has_previous %}
		<li class="pagination-previous">
			<a href="?page={{ posts.previous_page_number }}" aria-label="Previous page">Previous</a>
	{% else %}
		<li class="pagination-previous disabled">Previous
	{% endif %}
		</li>

	{% for page in posts.paginator.page_range %}
		{% if page == posts.number %}
		<li class="current"><span class="show-for-sr">You're on page</span>{{ page }}</li>
		{% else %}
		<li><a href="?page={{ page }}" aria-label="Page {{ page }}">{{ page }}</a></li>
		{% endif %}
	{% endfor %}

	{% if posts.has_next %}
		<li class="pagination-next">
			<a href="?page={{ posts.next_page_number }}" aria-label="Next page">Next</a>
	{% else %}
		<li class="pagination-next disabled">Next
		</li>
	{% endif %}
	</ul>
    {% endif %}
{% endblock %}
