{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="callout">
    <h3><a href="asd">Me</a></h3>
    <hr>
    <p>I'm just this guy, you know?</p>
</div>
<div class="callout">
    <h3><a href="https://github.com/gazwald/blog">Blog</a></h3>
    <hr>
    <p>Wrote a blog... ain't she grand?</p>
    <p><a href="https://github.com/gazwald/blog">Click here for the source</a></p>
</div>
<div class="callout">
    <h3><a href="mailto:notreal@example.com">Contact</a></h3>
    <hr>
    <p>Email: <a href="mailto:notreal@example.com">notreal@example.com</a></p>
</div>
{% endblock %}
