{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="callout">
    <h3><a href="asd">Me</a></h3>
    <hr>
    <p>
        Linux System Administrator by day<br>
        Shifty Python coder by night<br>
        DevOps guy when it suits<br>
    </p>
</div>
<div class="callout">
    <h3><a href="https://github.com/gazwald/blog">Blog</a></h3>
    <hr>
    <p>
        Initially I wanted a blog to write tutorials and such. I'd tried WordPress/Drupal/etc but never really liked them enough to stick with it.
        I figured that if I create my own blog from scratch, even if I didn't actually get around to blogging, that I'd at least learn some stuff along the way.
    </p>
    <p><a href="https://github.com/gazwald/blog">Click here for the source</a></p>
</div>
<div class="callout">
    <h3><a href="mailto:blog@gazwald.com">Contact</a></h3>
    <hr>
    <p>Email: <a href="mailto:blog@gazwald.com">blog@gazwald.com</a></p>
</div>
{% endblock %}
