packages:
    yum:
        libjpeg-turbo-devel: []
        libpng-devel: []
        freetype-devel: []

container_commands:
    01_migrate:
        command: "django-admin.py migrate"
        leader_only: true
    02_createadmin:
        command: "source /opt/python/run/venv/bin/activate && python blog/manage.py createadmin"
        leader_only: true
    03_createadmin:
        command: "source /opt/python/run/venv/bin/activate && python blog/manage.py collectstatic --noinput"
        leader_only: true


option_settings:
    aws:elasticbeanstalk:application:environment:
      DJANGO_SETTINGS_MODULE: "blog.settings"
    aws:elasticbeanstalk:container:python:
        WSGIPath: blog/wsgi.py
