{% load staticfiles %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Blogzwald{% endblock %} | Blogzwald</title>
        <link rel="stylesheet" href="{% static "css/foundation.css" %}">
        <link rel="stylesheet" href="{% static "css/app.css" %}">
    </head>
    <body>
    <div class="row text-center">
		<img style="padding:0;" src="http://placekitten.com/1200/200">
    </div>
    <div class="row text-center">
		<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
		  <button class="menu-icon" type="button" data-toggle></button>
		  <div class="title-bar-title">Menu</div>
		</div>

		<div class="top-bar" id="main-menu">
		  <div class="top-bar-left">
			<ul class="menu">
			  <li class="menu-text">Blogzwald</li>
			  <li><a href="/posts">Posts</a></li>
			  <li><a href="#">Tutorials</a></li>
			  <li><a href="/about">About</a></li>
              {% if user.is_authenticated %}
			  <li><a href="/accounts/logout">Logout</a></li>
              {% else %}
			  <li><a href="/accounts/login">Login</a></li>
              {% endif %}
			</ul>
		  </div>
		</div>
    </div>
    <div class="row">
		{% block content %}
		{% endblock %}
    </div>
    <div class="row text-center">
        <p>Copyright 2016</p>
    </div>
    <script type="text/javascript" src="{% static "js/vendor/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/what-input.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/foundation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    <script>
      $(document).foundation();
    </script>
    </body>
</html>
